body {
  font-family: 'Arial', 'Meiryo', sans-serif;
  text-align: center;
}

html {
  font-size: 20px;
}

.skyblue {
  color: skyblue;
}

.pink {
  color: rgb(255, 192, 203);
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  font-size: 2rem;
  letter-spacing: 1.2rem;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgb(8115, 115, 114);
}

#basic p {
  font-weight: bold;
}
